Si tu veux essayer de jouer un peu avec du python, je te conseille de lancer un invité de commande (tu peux le chercher dans la barre de recherche windows) et d'essayer des trucs de ton coté

Pour les exercices, la plupart ont des None. Les None est une valeur null, c'est une valeur pour un élément que tu considères sans valeur. Cela veut dire que la plupart des exercices lanceront une erreur si tu les lances tel quel.

\____\______\________\_______\______\_______\_

Si tu te retrouves avec quelque chose du genre

\-------------\
Error&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Traceback (most recent call last)\
Cell In [12], line 1

Cela veut dire qu'il y a une erreur dans ton code et qu'il ne marche pas. Dans ce cas je te considère de jeter un coup d'oeil au 8.1 et 8.2 de ceci: https://docs.python.org/fr/3/tutorial/errors.html et sinon de chercher l'erreur sur google

\____\______\________\_______\______\_______\_

Jupyter notebook (le site suer lequel tu es) marche avec des cases (ou cellules) qui permettent de faire marcher du code dans l'ordre que tu veux. Pour faire tourner du code, il faut aller sur une case et soit appuyer sur le bouton "Run" (avec la flèche) en haut, soit faire ctrl + enter soit faire majuscule + enter

essaye sur la case juste en bas, si ça a marché, le résultat sous la case devrait changer, ne cherche pas à comprendre le code pour le moment (ou alors demande moi et je t'expliquerai)

In [80]:
import random
random.random()

0.8002814960126615

Si les cases de textes deviennent comme ça et que tu veux les changer en plus lisible, il faut aussi les run,

Essaye de run celle là pour la remettre dans un format un peu plus lisible

En juypter notebook, il y a 2 moyen d'afficher des éléments du code. Le 1er est d'utiliser un print qui va afficher l'élément dans le print en bas.

Le second est de mettre un élément tout en bas d'une case. Dans un script normal cette option n'existe pas, mais dans jupyter c'est comme ça que ça marche

In [1]:
print('il faut mettre ce que tu veux afficher entre parenthèses et ça va automatiquement print')
print('tu peux', 5, 'aussi print plusieurs éléments dans un même print si tu les sépares avec des ,', 5 , -9)
"par contre si tu mets pas en print, ça ne s'affiche pas"
"si tu mets à la fin ça s'affiche"

il faut mettre ce que tu veux afficher entre parenthèses et ça va automatiquement print
tu peux 5 aussi print plusieurs éléments dans un même print si tu les sépares avec des , 5 -9

"si tu mets à la fin ça s'affiche"

Python est un programme qui peut quasiment tout faire à part des interfaces html (et encore ...)

On va commencer par des exercices avec des boucles for et des if pour être sûr d'avoir les bases.

# Types

Les types, c'est le type de valeur d'une variable ou d'un élément du code.

Il y a plusieurs types sur python, on va commencer par les basiques

Pour commencer on a les nombres, ils sont divisés en 2 les integer (entiers) = les nombres sans virgules 1 8 -3

Et les float (les nombres avec des chiffres après la virgule) = les nombres avec des virgules 8.1, 9.0003, -0.00001

In [3]:
1, 2 , 3 , 4 ,0.2, 0.05

(1, 2, 3, 4, 0.2, 0.05)

Ensuite on a les string qui sont du texte. Un texte en python, si tu veux que ça soit vu comme du texte et non comme une instruction donnée au code, il faut le mettre entre ' ou entre "

In [4]:
'bounjour', 'le', "monde", "si tu as un type de guillemets, tu peux utiliser l'autre dans le string ''''''"

('bounjour', 'le', 'monde')

Et enfin on a les listes qui sont une suites d'éléments (nombres string ou autre) dans un ordre donné

In [5]:
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

Tous ces éléments peuvent être assigné à des noms qui permettent de réutiliser, on appelle ça des variables. Par exemple en assignant un int à "a", on peut ensuite le réutiliser plusieurs fois

In [6]:
a = 5
a, a, a

(5, 5, 5)

Une fois que tu as une liste, tu peux récupérer un élément en utilisant [..] avec un chiffre au milieux. Si tu veux le premier élément tu fais [0], si tu veux le 2 tu fais [1].

ATTENTION donc le comptage commence à 0 et pas à 1

In [1]:
a = [0, 1, 2, 3, 4]
a[2]

2

Tu peux passer d'un string à un nombre et inversement en faisant ce qu'on appelle un cast de type.

par exemple tu peux transformer un nombre en string en utilisant str(...)

In [10]:
a,b,c = 1,2,3 
#pour le moment ce sont 3 nombres
print('pour le moment ce sont 3 nombres:', a,b,c)
# mais avec un str tu peux les transformer en text
str(a), str(b), str(c)

pour le moment ce sont 3 nombres: 1 2 3

('1', '2', '3')

Et pour passer de string à nombre entier c'est int et à nombre avec virgule c'est float

Attention si tu essayes de transformer un texte qui n'est pas un nombre en nombre, tu vas avoir une  erreur

In [13]:
#pour le moment c'est du texte
a,b,c = '1','2','3' 
#mais on peut les transformer en nombre entier
int(a), int(b), int(c)

(1, 2, 3)

In [14]:
d = '4.0' #un 4 exemple avec un nombre à virgule
#et on peut aussi les transformer en nombre à virgules
float(a), float(b), float(c), float(d)

(1.0, 2.0, 3.0, 4.0)

In [15]:
#par contre attention, on ne peut pas transformer les string de nombres à virgules en nombre sans virgule
int('4.0')

ValueError: invalid literal for int() with base 10: '4.0'

In [16]:
#Et bien sur on ne peut pas transformer du text en nombre
int("Que fais-tu ? C'est du text pas un nombre")

ValueError: invalid literal for int() with base 10: "Que fais-tu ? C'est du text pas un nombre"

In [20]:
#tu peux aussi transformer des nombres entiers en nombres à virgules avec float
print(float(1), float(-5))

1.0 -5.0

In [21]:
#et inversement avec int mais dans ce cas là, la valeur après la virgule disparaît
print(int(1.0), int(-5.0), int(1.9), int(-0.1))

1 -5 1 0

Durant ces exercices, je vais faire des commentaires sur le code, donc c'est le bon moment pour introduire les commentaires. Ce sont des textes qui sont ignorés par le code qui permettent de donner des info aux personnes qui les lisent. Toute élément sur une ligne après un # (qui n'est pas dans un string) est un commentaire

In [7]:
a = 5 #je peux mettre un commentaire après  l'action à faire et ça ne la gène pas
# a = 6 :  ce n'est pas considéré par le code car il y a un # au début
a, 'par contre je peux écrire un # dans un string sans que ça crée un commentaire'

(5,
 'par contre je peux écrire un # dans un string sans que ça crée un commentaire')

Ensuite tu peux faire des opérations sur des chiffres :

- La multiplication *
- La division avec /
- l'addition avec +
- la soustraction avec -

In [10]:
a = 1 + 1 # = 2
b = 2 - 1 # = 1
c = 2 * 3 # = 6
d = 8 / 2 # = 4
a, b, c, d

(2, 1, 6, 4.0)

Il y a un ordre des opérations: 

d'abord on fait les multiplications et les divisions de gauche à droite

puis on fait les additions et soustractions de gauche à droite

In [81]:
print(4 - 1 * 3) #par exemple ici on fait d’abord la multiplication et ensuite la soustraction

1

Tu peux aussi fusionner du texte en utilisant une addition de texte

In [11]:
'partie 1' + ' partie 2'

'partie 1 partie 2'

Mais tu ne peux pas additionner du texte et des nombres

In [12]:
'lol' + 1

TypeError: can only concatenate str (not "int") to str

In [1]:
#Pour pouvoir ajouter le int au string, il faut le cast en string
'lol' + str(1)

'lol1'

tu peux faire la même chose pour fusionner des listes entre elles

In [32]:
print([1,2,3] + [4,5,6])
print(['a', 'b', 'c'] + ['d']) #petite remarque ici, tu peux ajouter des éléments un par un , ça sera util pour plus tard

[1, 2, 3, 4, 5, 6]
['a', 'b', 'c', 'd']

Tu répéter des listes ou des strings en lée multipliant par un nombre entier

In [14]:
'ah' * 3

'ahahah'

In [15]:
['ah'] * 3

['ah', 'ah', 'ah']

pour organiser les expressions on peut aussi utiliser des parenthèses, les opérations faites entre parenthèses seront faites avant les opérations hors divisions.

In [83]:
print(10 / 2 * 4 + 4) #ici l'ordre c'est d'abord la division puis la division et à la fin l'addition
print(10 / (2 * 4) + 4) #ici l'ordre change on commence par * car elle est entre parenthèses, puis la / puis -
print(10 / ((2 * 4) + 4)) #on peut mettre plusieurs parenthèses, maintenant c'est * puis - puis /
print((10 / 2) * 4 + 4) #ici l'ordre ne change pas car on mis les parenthèses autour de l'opération prioritaire

24.0
5.25
0.8333333333333334
24.0

# Ex 1

#1 Remplace les None par les valeurs demandés dans le commentaire juste devant.

Une fois fait clique dans la fenêtre où tu as écrit les résultats et appuie sur ctrl + entrée pour voir si les résultats matchent avec ce qui est demandé

In [23]:
a = 1 # 1 exemple ici, on assigne à a la valeur 1
b = None # 0
c = None # 2.5
d = None # le texte : "Bonjour"
a, b, c, d

(1, None, None, None)

(1, 0, 2.5, 'Bonjour')

Sont les résultats attendus

#2 Ici remplace les None par une opérations entre a et b. Il est interdit de remplacer le None par le résultat final

In [25]:
a, b = 4, 8
print(None) # a plus b
print(None) # a moins b
print(None) # a multiplié par b
print(None) # a divisé par b

None
None
None
None

12\
-4\
32\
0.5

Sont les résultats attendus

#3 En utilisant une addition de string, fusionne les 2 strings a et b

In [2]:
a, b = 'partie1', 'partie2'
None#Remplace le none par l'opération demandé

'partie1partie2'

est le résultat attendu

#4 remplace le None de façon à répéter la string 4 fois

In [ ]:
'ah' * None

'ahahahah'

#5 remplace le None entre [] pour retourner le string 'bravo'

In [ ]:
a = ['raté0', 'raté1', 'bravo', 'raté3', 'raté4']
a[None]

Résultat attendus:

'bravo'

Sur les lignes avec des commentaires, ajoute des parenthèses de façon à avoir le résultat demandé par le commentaire. 

Ne change rien au reste de la ligne

In [ ]:
print(2 * 2 + 4)
print(2 * 2 + 4) #10
print(2 - 1 + 1)
print(2 - 1 + 1) #0
print('a' + 'h' * 4)
print('a' + 'h' * 4) #'ahahahah'

Résultat attendus:

5\
10\
2\
0\
ahhhh\
ahahahah

# Boucles for

Les boucles for permettent de faire la même opérations plusieurs fois et donc de l'automatiser.

In [24]:
#Plutôt que de faire cette méthode qui copie colle et n'est pas facilement changeable avec des variables
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

1
2
3
4
5
6
7
8
9

In [27]:
#On utilise une boucle for (c'est un exemple les détails viennent juste après)
for i in range(1, 10) :
    print('itération', i)

itération 1
itération 2
itération 3
itération 4
itération 5
itération 6
itération 7
itération 8
itération 9



Une boucle for marche de cette façon:

for ... in ... :\
&emsp;#fait quelque chose

le for ... in ... ça se traduit par pour ... dans ...

On va y revenir bientôt mais remarque déjà qu'il y a des espaces avant le #fait quelque chose

Chaque fois que tous les éléments mis dans le codes sont faits pour une des valeurs de la boucle, on appelle ça un itération

Tu peux soit faire cela sur une liste

In [32]:
for i in [1, 2, 3, 4] :
    print('itération', i)

itération 1
itération 2
itération 3
itération 4

Ou sur une suite de nombre. Dans ce langage pour faire des boucles for sur une liste de nombres on utilise range. Si on lui donne un argument, il fait touts les nombres entiers entre 0 et le nombre juste avant le nombre mis en argument

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

Si on met 2 nombres ça va faire du 1er nombre au nombre juste avant le 2e

In [18]:
for i in range(10, 15):
    print(i)

10
11
12
13
14

Et si on met un 3e nombre, on peut choisir combien on bouge à chaque fois

In [19]:
for i in range(10, 21, 2):
    print(i) # à cause du 2 à la fin, ça bouge de 2 en 2

10
12
14
16
18
20

python est un langage dont les blocs marchent en indentations. Pour les boucles for cela veut dire que, l'effet à faire dans la boucle doit avoir 4 espaces avant(pour aller plus vite, tu peux utiliser la touche tab : la flèche -> à gauche du clavier). Et tant qu'il y a des lignes avec ces espaces au début

In [29]:
for i in range(3) :
    print('ça va être répéter 3 fois')
    print('ça aussi')
print("mais ça non parce qu'il y a plus d'espaces au début, ça sera fait à la fin de la boucle")

ça va être répéter 3 fois
ça aussi
ça va être répéter 3 fois
ça aussi
ça va être répéter 3 fois
ça aussi
mais ça non parce qu'il y a plus d'espaces au début, ça sera fait à la fin de la boucle

Tu peux aussi faire des boucles for, dans tes boucles for. On appelle cela des boucles for imbriqués. La 2e boucles (ici avec les abc) va se répéter pour chaque itération de la 1ère boucle (avec les range) 

Tu remarques que du coup dans la 2e boucles forts on a 8 (donc 2 fois 4) espaces avant les instructions.

In [31]:
for i in range(2, 5) :
    print ('la boucle', i, 'commence')
    for j in ['a', 'b', 'c'] :
        print(i, j)
    print ('la boucle', i, 'se termine')

la boucle 2 commence
2 a
2 b
2 c
la boucle 2 se termine
la boucle 3 commence
3 a
3 b
3 c
la boucle 3 se termine
la boucle 4 commence
4 a
4 b
4 c
la boucle 4 se termine

Il est aussi parfois util d'avoir une variable en dehors de la boucle qui va être changer à chaque itération. Pae exemple ici on va faire la somme des éléments qui sont dans une listes

In [2]:
a = 0
liste = [1, 5 ,6, 10]
for element in liste :
    a = a + element
a # maintenant = 0 + 1 + 5 + 6 + 10 = 22

22

Note: pour aller plus vite on peut remplacer

a = a + ...

par

a += ...

(ça marche aussi avec *= , /= , -=)

In [3]:
a = 0
liste = [1, 5 ,6, 10]
for element in liste :
    a += element
a # maintenant = 0 + 1 + 5 + 6 + 10 = 22

22

# Ex2

#1 Remplace le None dans le print pour printer tous les nombres entiers entre 0 et 5 (inclus)

In [ ]:
a = 5
b = -5
c = 'lol'
for i in range(6) :
    print(None)

Résultat attendus:

0\
1\
2\
3\
4\
5

#2 Remplace None dans le print pour printer lol 6 fois

In [ ]:
a = 5
b = -5
c = 'lol'
for i in range(6) :
    print(None)

Résultat attendus:

lol\
lol\
lol\
lol\
lol\
lol

#3 Remplace le None par une liste de façon à ce que la case suivante print 1, 25 , -5, 'bonjour' (sur de lignes différentes)

In [ ]:
for x in [None] :
    print(x)

Résultat attendus:

1\
25\
-5\
bonjour

#4 Remplace le None par une liste de façon à ce que la case suivante print 'a', 'b', 'c', 'd' (sur de lignes différentes)

In [ ]:
for x in None :
    print(x)

Résultat attendus:

a\
b\
c\
d

#5 En remplaçant le None par un range (donc interdiction d'utiliser des listes [...]) print tous les nombres entre 0 et 7 (non inclus) c'est à dire 0, 1, 2, 3, 4, 5, 6

In [ ]:
for x in None :
    print(x)

Résultat attendus:

0\
1\
2\
3\
4\
5\
6

#6 En remplaçant le None par un range (donc interdiction d'utiliser des listes [...]) print tous les nombres entre 4 et 7 (non inclus) c'est à dire 4, 5, 6

In [ ]:
for x in None :
    print(x)

Résultat attendus:

4\
5\
6

#7 En remplaçant le None par un range (donc interdiction d'utiliser des listes [...]) print les nombres en commençant par 4 et en s'arrêtant avant 18 en allant de 3 en 3. C'est à dire 4, 7, 10, 13, 16

In [ ]:
for x in None :
    print(x)

Résultat attendus:

4\
7\
10\
13\
16

#8 En remplaçant le None par un range (donc interdiction d'utiliser des listes [...]) print les nombres en commençant par 0 et en s'arrêtant avant 100 en allant de 25 en 25. C'est à dire 0, 25, 50, 75

In [ ]:
for x in None :
    print(x)

Résultat attendus:

0\
25\
50\
75

#9 Sans regarder l'exemple donné plus haut, remplace le None par une ligne de commande pour qu'à la fin de la boucle for, a soit égal à la somme de la liste de la boucle for (donc a doit être égal à 10 c'est à dire à 1 + 2 + 3 + 4)

In [ ]:
a = 0
for x in range(5) :
    None
a

Résultat attendus:

10

#10 Remplace le None de façon à ce que, a à la fin de la boucle, le résultat soit tous les string de la liste mis bout à bout. C'est à dire 'abcd'.

Indice, regarde dans la 1ère partie comment fusionner des string.

In [ ]:
a = ''
for x in ['a', 'b', 'c', 'd'] :
    None
a

Résultat attendus:

abcd

#11 Remplace les None de façon à ce que pour chaque élément de la première boucle for, tu print la somme de tous les nombres entre 0 et ce nombre (inclus).

C'est à dire le premier print doit être 6 car le premier élément de la boucle est 3 et on demande 1 + 2 + 3

Idem, le 2e print doit être 3 = 1 + 2

In [ ]:
for i in [3, 2, 10, 25, 333] :
    None
    for j in None:
        None
    None

Résultat attendus:

6\
3\
55\
325\
55611

#12 Remplace les None par des ranges pour print le résultat attendu en bas.

1 pour le 1er print

12 pour la 2e 

123 pour la 3e

et ainsi de suite pour tous les nombres entiers entre 1 et 5 (inclus)

In [ ]:
for i in None :
    a = ''
    for j in None :
        a += str(j) #juste pour rappel, le str est là pour transformer le nombre en string
    print(a)

Résultat attendus:

1\
12\
123\
1234\
12345

#13 en reprenant le code de l'ex #12 et en utilisant une boucle for imbriqué, pour i de 1 à 5 print i fois le nombre dans une string, c'est à dire

1 pour le 1er print

22 pour la 2e 

333 pour la 3e

...

In [ ]:
#13 à remplir

Résultat attendus:

1\
22\
333\
4444\
55555

#14 Refais l'ex #13 mais cette fois ci avec seulement une boucle for. 

Indice Regarde dans le section type comment répéter un string plusieurs fois

In [ ]:
#14 à remplir

Résultat attendus:

1\
22\
333\
4444\
55555

# If et boolean

Boolean est une valeur qui dit si quelque chose est vrai ou faux. Il a 2 valeurs possibles True (=vrai) ou False (=faux) (attention aux majuscules aux débuts)

In [30]:
print(True) #valeur vrai
print(False) #valeur faux

True
False

Ces valeurs peuvent être créer en comparant des nombre par exemple :
- pour vérifier si 2 nombres sont égaux on utilise ==
- pour vérifier si 2 nombres sont différents on utilise !=
- pour vérifier si un nombre a est strictement plus grand que b on utilise >
- pour vérifier si un nombre a est plus grand ou égal que b on utilise >=
- pour vérifier si un nombre a est strictement plus petit que b on utilise <
- pour vérifier si un nombre a est plus petit ou égal que b on utilise <=

In [36]:
print('1 == 1', 1 == 1) # vrai car les 2 nombres sont égaux
print('1 != 1', 1 != 1) # faux car les 2 nombres sont égaux alors qu'on regarde s'ils sont différents
print('1 != 2', 1 != 2) # vrai car les 2 nombres sont différents
print('1 == 2', 1 == 2) # faux car les 2 nombres sont différents alors qu'on regarde s'ils sont égaux

1 == 1 True
1 != 1 False
1 != 2 True
1 == 2 False
1 == '1' False
1 == 1 True

In [39]:
print('2 < 4', 2 < 4) #vrai car 2 est strictement plus petit que 4
print('2 > 4', 2 > 4) #faux car 2 est strictement plus petit que 4 alors qu'on regarde s'il est strictement plus grand
print('2 > 0', 2 > 0) #vrai car 2 est strictement plus grand que 0
print('2 < 0', 2 < 0) #faux car 2 est strictement plus grand que 0 alors qu'on regarde s'il est strictement plus petit
print('2 > 2', 2 > 2) #faux car les nombres sont égaux et on cherche si l'un est strictement plus grand que l'autre
print('2 < 2', 2 < 2) #faux car les nombres sont égaux et on cherche si l'un est strictement plus petit que l'autre

2 < 4 True
2 > 4 False
2 > 0 True
2 < 0 False
2 > 2 False
2 < 2 False

In [41]:
print('2 <= 4', 2 <= 4) #vrai car 2 est plus petit que 4
print('2 >= 4', 2 >= 4) #faux car 2 est plus petit que 4 alors qu'on regarde s'il est plus grand ou égal
print('2 >= 0', 2 >= 0) #vrai car 2 est plus grand que 0
print('2 <= 0', 2 <= 0) #faux car 2 est plus grand que 0 alors qu'on regarde s'il est plus petit ou égal
print('2 >= 2', 2 >= 2) #vrai car les nombres sont égaux et on cherche si l'un est plus grand ou égal que l'autre
print('2 <= 2', 2 <= 2) #vrai car les nombres sont égaux et on cherche si l'un est plus petit ou égal que l'autre

2 <= 4 True
2 >= 4 False
2 >= 0 True
2 <= 0 False
2 >= 2 True
2 <= 2 True

tu peux aussi vérifier si 2 choses sont égales ou différentes même si ce ne sont pas des nombres

In [2]:
print("'a' == 'a'", 'a' == 'a') # vrai car les 2 string sont égaux
print("'a' != 'a'", 'a' != 'a') # faux car les 2 string sont égaux alors qu'on regarde s'ils sont différents
print("1 == '1'", 1 == '1') #faux car l'un est un nombre et l'autre un texte
print('1 == 1.0', 1 == 1.0) # vrai car les 2 nombres sont égaux

'a' == 'a' True
'a' != 'a' False
1 == '1' False
1 == 1.0 True

on peut aussi utiliser in (qui veut dire dans) pour vérifier si un élément est dans une string ou une liste

In [48]:
print("'caché' in 'hhknjkbuzcachékhbjhbh'", 'caché' in 'hhknjkbuz_caché_khbjhbh') #vrai car caché est dans le texte
#vrai car caché est dans la liste
print("'caché' in ['a', 'b', 'caché', 'ici', 'c']", 'caché' in ['a', 'b', 'caché', 'ici', 'c']) 

print("'trouvé' in 'hhknjkbuzcachékhbjhbh'", 'trouvé' in 'hhknjkbuz_caché_khbjhbh') #faux car trouvé n'est pas dans le texte
#faux car trouvé n'est pas dans la liste
print("'trouvé' in ['a', 'b', 'caché', 'ici', 'c']", 'trouvé' in ['a', 'b', 'caché', 'ici', 'c'])  
#celui là est faux car in marche avec seulement un élément, ça ne marche pas
print("['caché', 'ici'] in ['a', 'b', 'caché', 'ici', 'c']", ['caché', 'ici'] in ['a', 'b', 'caché', 'ici', 'c'])
#par contre si ['caché', 'ici'] devient un élément à part entière de la liste, la boolean devient vrai
print("['caché', 'ici'] in ['a', 'b', ['caché', 'ici'], 'c']", ['caché', 'ici'] in ['a', 'b', ['caché', 'ici'], 'c'])

'caché' in 'hhknjkbuzcachékhbjhbh' True
'caché' in ['a', 'b', 'caché', 'ici', 'c'] True
'trouvé' in 'hhknjkbuzcachékhbjhbh' False
'trouvé' in ['a', 'b', 'caché', 'ici', 'c'] False
['caché', 'ici'] in ['a', 'b', 'caché', 'ici', 'c'] False
['caché', 'ici'] in ['a', 'b', ['caché', 'ici'], 'c'] True

Puis il y a le not (qui indique la négation en anglais) qui permet d'inverser la valeur d'un boolean: True devient False et False devient True

In [49]:
print(not True)  # True devient False
print(not False) # False devient True
print(not 1 == 1) #False car 1 == 1 est True
print(not 1 != 1) #True car 1 != 1 est False

False
True
False
True

Ensuite on a les if ... else ...  (traduction si ... sinon ...)

ils permettent de faire quelque chose si une chose est vrai et de faire autre chose si cette chose est fausse

In [50]:
for i in range(10) :
    if i < 5:
        print("nous sommes à l'itération", i, "et c'est strictement plus petit que 5")
    else:
        print("nous sommes à l'itération", i, "et on a passé 5")

nous sommes à l'itération 0 et c'est strictement plus petit que 5
nous sommes à l'itération 1 et c'est strictement plus petit que 5
nous sommes à l'itération 2 et c'est strictement plus petit que 5
nous sommes à l'itération 3 et c'est strictement plus petit que 5
nous sommes à l'itération 4 et c'est strictement plus petit que 5
nous sommes à l'itération 5 et on a passé 5
nous sommes à l'itération 6 et on a passé 5
nous sommes à l'itération 7 et on a passé 5
nous sommes à l'itération 8 et on a passé 5
nous sommes à l'itération 9 et on a passé 5

Au fait on est pas obligé de mettre un else avec un if

In [51]:
for i in range(10) :
    if i < 5:
        print("nous sommes à l'itération", i, "et c'est strictement plus petit que 5")

nous sommes à l'itération 0 et c'est strictement plus petit que 5
nous sommes à l'itération 1 et c'est strictement plus petit que 5
nous sommes à l'itération 2 et c'est strictement plus petit que 5
nous sommes à l'itération 3 et c'est strictement plus petit que 5
nous sommes à l'itération 4 et c'est strictement plus petit que 5

Les lignes compter dans le if ... else ... marchent comme pour le for, tant que tu mets assez d'espaces avant tes lignes de codes, l'élément reste dans le if ou le else

In [57]:
for i in range(5) :
    if i < 3:
        print("nous sommes à l'itération", i, "et c'est strictement plus petit que 3")
        i  += 1
        a = 2 * 2
        print('toujours dedans', i , a)
    else:
        print("nous sommes à l'itération", i, "et on a passé 3")
        i  -= 1
        b = 6/4.5
        print('rajoute après', i, b)
    print('ici on est en dehors du if dont cela est print à chaque itération quelque soit la valeur de i')

nous sommes à l'itération 0 et c'est strictement plus petit que 3
toujours dedans 1 4
ici on est en dehors du if dont cela est print à chaque itération quelque soit la valeur de i
nous sommes à l'itération 1 et c'est strictement plus petit que 3
toujours dedans 2 4
ici on est en dehors du if dont cela est print à chaque itération quelque soit la valeur de i
nous sommes à l'itération 2 et c'est strictement plus petit que 3
toujours dedans 3 4
ici on est en dehors du if dont cela est print à chaque itération quelque soit la valeur de i
nous sommes à l'itération 3 et on a passé 3
rajoute après 2 1.3333333333333333
ici on est en dehors du if dont cela est print à chaque itération quelque soit la valeur de i
nous sommes à l'itération 4 et on a passé 3
rajoute après 3 1.3333333333333333
ici on est en dehors du if dont cela est print à chaque itération quelque soit la valeur de i

In [59]:
#Attention, si on tu le elif doit être l'instruction juste après le dernier élément dans le if
for i in range(10) :
    if i < 5:
        print("nous sommes à l'itération", i, "et c'est strictement plus petit que 5")
    print("puisque qu'on est sorti du if, cette instruction va causer une erreur au elif")
    else:
        print("nous sommes à l'itération", i, "et on a passé 5")

SyntaxError: invalid syntax (3314570048.py, line 6)

on peut rajouter des elif (qui est la contraction de else if = sinon si) qui permettent d'avoir plus de choix dans les options

In [3]:
for i in range(10) :
    if i < 5:
        print("nous sommes à l'itération", i, "et c'est strictement plus petit que 5")
    elif i < 7 :
        print("nous sommes à l'itération", i, "et c'est strictement plus petit que 7")
    else:
        print("nous sommes à l'itération", i, "et on a passé 7")

nous sommes à l'itération 0 et c'est strictement plus petit que 5
nous sommes à l'itération 1 et c'est strictement plus petit que 5
nous sommes à l'itération 2 et c'est strictement plus petit que 5
nous sommes à l'itération 3 et c'est strictement plus petit que 5
nous sommes à l'itération 4 et c'est strictement plus petit que 5
nous sommes à l'itération 5 et c'est strictement plus petit que 7
nous sommes à l'itération 6 et c'est strictement plus petit que 7
nous sommes à l'itération 7 et on a passé 7
nous sommes à l'itération 8 et on a passé 7
nous sommes à l'itération 9 et on a passé 7

In [90]:
#voyons la différence si on change le elif en if
for i in range(10) :
    if i < 5:
        print("nous sommes à l'itération", i, "et c'est strictement plus petit que 5")
    if i < 7 :
        print("nous sommes à l'itération", i, "et c'est strictement plus petit que 7 et maintenant on a changé le elif en if")
    else:
        print("nous sommes à l'itération", i, "et on a passé 7")

nous sommes à l'itération 0 et c'est strictement plus petit que 5
nous sommes à l'itération 0 et c'est strictement plus petit que 7 et maintenant on a changé le elif en if
nous sommes à l'itération 1 et c'est strictement plus petit que 5
nous sommes à l'itération 1 et c'est strictement plus petit que 7 et maintenant on a changé le elif en if
nous sommes à l'itération 2 et c'est strictement plus petit que 5
nous sommes à l'itération 2 et c'est strictement plus petit que 7 et maintenant on a changé le elif en if
nous sommes à l'itération 3 et c'est strictement plus petit que 5
nous sommes à l'itération 3 et c'est strictement plus petit que 7 et maintenant on a changé le elif en if
nous sommes à l'itération 4 et c'est strictement plus petit que 5
nous sommes à l'itération 4 et c'est strictement plus petit que 7 et maintenant on a changé le elif en if
nous sommes à l'itération 5 et c'est strictement plus petit que 7 et maintenant on a changé le elif en if
nous sommes à l'itération 6 et c'est strictement plus petit que 7 et maintenant on a changé le elif en if
nous sommes à l'itération 7 et on a passé 7
nous sommes à l'itération 8 et on a passé 7
nous sommes à l'itération 9 et on a passé 7

On peut aussi combiner des boolean avec or (qui veut dire ou) et and (qui veut dire et)

... or ... est vrai si au moins l'un des 2 éléments est vrai, et est faux si les 2 sont faux

... and ... est vrai si les 2 éléments sont vrai, et est faux au moins l'un des 2 éléments est faux

In [93]:
print('False or False:', False or False)
print('True or False:', True or False)
print('False or True:', False or True)
print('True or True:', True or True)

False or False False
True or False True
False or True True
True or True True

In [94]:
print('False and False:', False and False)
print('True and False:', True and False)
print('False and True:', False and True)
print('True and True:', True and True)

False and False: False
True and False: False
False and True: False
True and True: True

In [95]:
for i in range(10) :
    if i < 8 and i > 4 :
        print("nous sommes à l'itération", i, "et on est entre 4 et 8 (exclus)")
    else :
        print("nous sommes à l'itération", i, 'on est dehors')

nous sommes à l'itération 0 on est dehors
nous sommes à l'itération 1 on est dehors
nous sommes à l'itération 2 on est dehors
nous sommes à l'itération 3 on est dehors
nous sommes à l'itération 4 on est dehors
nous sommes à l'itération 5 et on est entre 4 et 8 (exclus)
nous sommes à l'itération 6 et on est entre 4 et 8 (exclus)
nous sommes à l'itération 7 et on est entre 4 et 8 (exclus)
nous sommes à l'itération 8 on est dehors
nous sommes à l'itération 9 on est dehors

In [98]:
for i in range(10) :
    if i >= 8 or i <= 3 :
        print("nous sommes à l'itération", i, "et on est plus grand que 8 ou plus petit que 3 (inclus)")
    else :
        print("nous sommes à l'itération", i, 'on est dehors')

nous sommes à l'itération 0 et on est plus grand que 8 ou plus petit que 3 (inclus)
nous sommes à l'itération 1 et on est plus grand que 8 ou plus petit que 3 (inclus)
nous sommes à l'itération 2 et on est plus grand que 8 ou plus petit que 3 (inclus)
nous sommes à l'itération 3 et on est plus grand que 8 ou plus petit que 3 (inclus)
nous sommes à l'itération 4 on est dehors
nous sommes à l'itération 5 on est dehors
nous sommes à l'itération 6 on est dehors
nous sommes à l'itération 7 on est dehors
nous sommes à l'itération 8 et on est plus grand que 8 ou plus petit que 3 (inclus)
nous sommes à l'itération 9 et on est plus grand que 8 ou plus petit que 3 (inclus)

# Ex3

Ajoute des not dans les expressions (sans changer les expressions autrement) de façon à ce que toutes les éléments de gauche soit vrai et tous les éléments de droites soient faux

In [ ]:
print(1 == 1, 1 == 1)
print(0 != 0, 0 != 0)
print(10 < 10, 10 < 10)
print(10 >= 10, 10 >= 10)
print('111' == 111, '111' == 111)
print(1 in [1, 2, 3], 1 in [1, 2, 3])
print(12 in [1, 2, 3], 12 in [1, 2, 3])
print('12' in '123', '12' in '123')

Résultat attendus:

True False \
True False \
True False \
True False \
True False \
True False \
True False \
True False

#1 remplace les None par == ou != pour avoir les boolean demandés en commentaire

In [ ]:
print(1 None 1) #True
print(1 None 5) #False
print(10 None 4) #True
print(5 None 5) #False
print('5' None 5) #True
print('5' None 4) #True

Résultat attendus:

True\
False\
True\
False\
True\
True

#2 remplace les None par < ou > pour avoir les boolean demandés en commentaire

In [ ]:
print(1 None 5) #False
print(10 None 4) #True
print(5 None 5) #False
print(8 None 0) #False
print (0 None 4) #True

Résultat attendus:

False\
True\
False\
False\
True

#3 remplace les None par <= ou >= pour avoir les boolean demandés en commentaire

In [ ]:
print(10 None 100) #False
print(8 None 3) #True
print(7.5 None 7.5) #True
print(433 None 0.5) #False
print (7.5 None 44) #True

Résultat attendus:

False\
True\
True\
False\
True

#4 remplace le None dans le if de façon à print seulement les éléments strictement plus grand que 5

In [ ]:
for i in range(10) :
    if None :
        print(i)

Résultat attendus:

6\
7\
8\
9

#5 remplace le None dans le if de façon à print 'pas 13' si le nombre est différent de 13 et à print 13 si il est égal à 13

In [ ]:
for i in range(10, 15) :
    if None :
        print(i)
    else:
        print('pas 13')

Résultat attendus:

pas 13\
pas 13\
pas 13\
13\
pas 13

#6 même exercice que #5 remplace le None dans le if de façon à print 'pas 13' si le nombre est différent de 13 et à print 13 si il est égal à 13

In [ ]:
for i in range(10, 15) :
    if None :
        print('pas 13')
    else:
        print(i)

Résultat attendus:

pas 13\
pas 13\
pas 13\
13\
pas 13

#7 Dans la boucle for pour chaque itération, remplace les None de façon à ce que si le nombre est strictement plus grand que 2, print '> 2' à part si le nombre est 5 dans ce cas là print 'on a un 5'.

Si le nombre est égal ou inférieur à 2 print le nombre

In [ ]:
for i in range(10) :
    if None : 
        None
    elif None : 
        None
    else :
        None

Résultat attendus:

0\
1\
2\
\>2\
\>2\
on a un 5\
\>2\
\>2\
\>2\
\>2

#8 Dans la boucle crée un if de façon à ce que si  le nombre est 3 on print 'lol', s'il est 7 on print 'lucky' et sinon on print le nombre en question

In [ ]:
for x in range(10) :
    None

Résultat attendus:

0\
1\
2\
lol\
4\
5\
6\
lucky\
8\
9

#9 Remplace None par une condition de façon à ce que si le nombre est 3 ou 7 on print 'ou' et sinon on print le nombre en question

In [ ]:
for i in range(10) :
    if None :
        print('ou')
    else :
        print(i)

Résultat attendus:

0\
1\
2\
ou\
4\
5\
6\
ou\
8\
9

#10 Remplace None par une condition de façon à ce que si le nombre est entre 3 et 7 (inclus) on print 'and' et sinon on print le nombre en question

In [ ]:
for i in range(10) :
    if None :
        print('and')
    else :
        print(i)

Résultat attendus:

0 \
1 \
2 \
and\
and\
and\
and\
and\
8\
9

#11 Remplace None de façon à ce qu'on print quelque chose seulement si les valeurs des 2 boucles for sont égales

In [ ]:
for i in [1, 5, 10 , 999] :
    for j in [10, 44, 1, 'bonjour'] :
        if None :
            print(i, j)

Résultat attendus:

1 1 \
10 10

#12 remplace None dans le if de façon à ce qu'on print les valeur des 2 boucles si l'élément de la première est 1 ou 3 et l'élément de la 2e est 5 ou 7

In [ ]:
for i in range(10) :
    for j in range(10) :
        if None :
            print(i,j)

Résultat attendus:

1 5\
1 7\
3 5\
3 7

#13 étant donné 2 listes a13 et b13 : remplace le None dans le if de façon à print tous les éléments de a13 qui sont dans b13

In [ ]:
a13 = [1, 5, 10 , 999]
b13 = [10, 44, 1, 'bonjour']
for i in a13 :
    if None :
        print(i)

Résultat attendus:

1\
10

# Fonctions

Une fonction est un bout de code que tu peux réutiliser. Il marche de la façon suivante :

def [nom de la fonction] (arguments) :\
&emsp;code à faire

Utiliser une fonction est appelé "appeler une fonction"

Par exemple si on fait un code sans argument (on verra plus tard ce qu'est un argument)

In [99]:
def print_quelque_chose_long() :
    print('ouah cette string est juste trop longue, ça va être embêtant de réécrire à chaque fois, heureusement je peut mettre ça dans  une fonction')
print_quelque_chose_long()
print_quelque_chose_long()
print_quelque_chose_long()

ouah cette string est juste trop longue, ça va être embêtant de réecrire à chaque fois, heuresuement je peut mettre ça dans  une fonction
ouah cette string est juste trop longue, ça va être embêtant de réecrire à chaque fois, heuresuement je peut mettre ça dans  une fonction
ouah cette string est juste trop longue, ça va être embêtant de réecrire à chaque fois, heuresuement je peut mettre ça dans  une fonction

Les fonctions marchent comme les for et les if, pour rester dedans il faut mettre des espaces avant.

In [100]:
def example_indentation() :
    print('regarde')
    a = 0
    a += 1
    a += 2
    a += 3
    print('je peux mettre autant de ligne que je veux', 'ah' * a)
print("par contre celle là est seulement visible au début car il n'y a pas d'indentation")

example_indentation()
example_indentation()
example_indentation()

par contre celle là est seulement visible au début car il n'y a pas d'indentation
regarde
je peux mettre autant de ligne que je veux ahahahahahah
regarde
je peux mettre autant de ligne que je veux ahahahahahah
regarde
je peux mettre autant de ligne que je veux ahahahahahah

On peut aussi y mettre des arguments. Un argument est une variable qui est donnée au moment où on appelle la fonction. Cela permet de changer certains éléments de la fonctions en fonction des éléments qui y rentrent.

In [101]:
def rigole (combien) :
    print('ah' * combien)
    
rigole(1)
rigole(2)
rigole(3)
rigole(10)

ah
ahah
ahahah
ahahahahahahahahahah

In [102]:
for i in range(10) :
    rigole(i)

ah
ahah
ahahah
ahahahah
ahahahahah
ahahahahahah
ahahahahahahah
ahahahahahahahah
ahahahahahahahahah

On peut mettre en théorie autant d'arguments qu'on veut.

In [103]:
def dans_quoi(quoi, dans) :
    print('le', quoi, 'est dans la', dans, '. mais heureusement je peux réutiliser le code')
    
dans_quoi('coq', 'grange')
dans_quoi('cheval', 'grange')
dans_quoi('truc', 'machin')

le coq est dans la grange . mais heureusement je peux réutiliser le code
le cheval est dans la grange . mais heureusement je peux réutiliser le code
le truc est dans la machin . mais heureusement je peux réutiliser le code

On a aussi l'option de retourner quelque chose avec l'option return.

In [107]:
def rigole_return (combien) :
    return 'ah' * combien

a = rigole (1)
print(a)
a = rigole (2)
print(a)
a = rigole (3)
print(a)
a = rigole (10)
print(a)

ah
ahah
ahahah
ahahahahahahahahahah

In [108]:
for i in range(10) :
    a = rigole_return (i)
    print(a)

ah
ahah
ahahah
ahahahah
ahahahahah
ahahahahahah
ahahahahahahah
ahahahahahahahah
ahahahahahahahahah

In [109]:
def addition_10(a0, a1, a2, a3, a4, a5, a6, a7, a8, a9) :
    return a0 + a1 + a2 + a3 + a4 + a5 + a6 + a7 + a8+ a9

addition_10(0,1,2,3,4,5,6,7,8,9)

45

Les fonctions sont très utilisées pour pouvoir réutiliser du code facilement et pour le rendre plus lisible. On verra sa pleine puissance avec le morpion. Pour le moment il va être très util pour les exercices

Dans les exercices je vais utiliser assert, cela permet de créer une erreur si la condition n'est pas respecter. Pour toi ça veut dire que tant que tu as des assertionError, tu n'as pas fini l'exercice.

In [113]:
def addition (a, b):
    return a + b

assert addition (1, 2) == 3 #ça passe car 1+ 2 == 3
print('pass')
assert addition (1, 2) == 4, f'on voulait 4 mais le résultat est '+ str(addition (1, 2))  #ça retourne une erreur car 1 +2 == 3 != 4

pass

AssertionError: on voulait 4 mais le résultat est 3

# Ex4

#1 Remplace le pass par une fonction qui print 'bonjour le monde'

In [ ]:
def bonjour() :
    pass

bonjour()

Résultat attendus:

bonjour le monde

#2 remplace le pass dans la fonction pour que la fonction retourne son argument au carré (son argument multiplié par lui même)

In [ ]:
def au_carre(a) :
    pass

assert au_carre(3) == 9, 'on voulait 9, mais le résultat est ' + str(au_carre(3))
assert au_carre(-5) == 25, 'on voulait 25, mais le résultat est ' + str(au_carre(-5))
assert au_carre(100) == 10000, 'on voulait 10000, mais le résultat est ' + str(au_carre(100))
print('exercice réussi')

#3 Remplace le pass pass dans la fonction pour que la fonction retourne son 1 er argument plus son 2e moins son 3e

In [ ]:
def ex3_f (a,b,c) :
    pass

assert ex3_f(2, 2, 2) == 2, 'on voulait 2, mais le résultat est ' + str(ex3_f(2, 2, 2))
assert ex3_f(6, 7, 4) == 9, 'on voulait 9, mais le résultat est ' + str(ex3_f(6, 7, 4))
assert ex3_f(6, 7, -4) == 17, 'on voulait 17, mais le résultat est ' + str(ex3_f(6, 7, -4))
assert ex3_f(0, 1, 2)  == -1, 'on voulait -1, mais le résultat est ' + str(ex3_f(0, 1, 2))
assert ex3_f(1, 0, 2)  == -1, 'on voulait -1, mais le résultat est ' + str(ex3_f(1, 0, 2))
assert ex3_f(1, 2, 0)  == 3, 'on voulait 3, mais le résultat est ' + str(ex3_f(1, 2, 0))

print('exercice réussi')

#4 En utilisant seulement les fonction données, remplace les None pour faire les opérations mis en commentaire (ne donne par juste le résultat final mais fait les opérations et au lieu de faire 0 + 1 fait addition(0, 1))

In [ ]:
def addition(a, b):
    return a + b

def soustraction(a, b):
    return a - b

def multiplication(a, b):
    return a * b

def division(a, b):
    return a / b

#exemple de ce qui est attendu
print(addition(1, 1)) # 1 + 1

print(None) # 1 - 1
print(None) # 2 * 3
print(None) # 20 / 4

print(None) # 1 + 2 + 3
print(None) # 1 - 2 + 3
print(None) #(1 + 2) * (9 - 10)
print(None) #1 - 3 * 5
print(None) #(1 - 3) * 5
print(None) #(5 + 0) / 5
print(None) #(1 + 2 + 3) * ((5 + 0) / 5)

Résultat attendus:

2\
0\
6\
5\
6\
2\
-3\
-14\
-10\
1.0\
6.0

#5 Remplace le pass dans la fonction pour que la fonction retourne True si a est strictement plus grand que 6, 'tortue' si l'argument est égal à 0 est False sinon

In [ ]:
def ex5_f(a_tester):
    pass

assert ex5_f(25) == True, 'on voulait True, mais le résultat est ' + str(ex5_f(25))
assert ex5_f(999) == True, 'on voulait True, mais le résultat est ' + str(ex5_f(999))
assert ex5_f(-5) == False, 'on voulait False, mais le résultat est ' + str(ex5_f(-5))
assert ex5_f(6) == False, 'on voulait False, mais le résultat est ' + str(ex5_f(6))
assert ex5_f(0) == 'tortue', 'on voulait tortue, mais le résultat est ' + str(ex5_f(0))
assert ex5_f(1) == False, 'on voulait False, mais le résultat est ' + str(ex5_f(1))

print('exercice réussi')

#6 Remplace pass pour faire une fonction qui passe les 2 tests

In [ ]:
def ex6_f (a0, a1, a2, a3, a4, a5) :
    pass

assert ex6_f(0, 1, 2, 3, 4, 5) == 23, 'on voulait 23, mais le résultat est ' + str(ex6_f(0, 1, 2, 3, 4, 5))
assert ex6_f(0, 2, 4, 6, 8, 10) == 46, 'on voulait 46, mais le résultat est ' + str(ex6_f(0, 2, 4, 6, 8, 10))

print('exercice réussi')